# Check pillar for special variable options
{% set dbpath = salt['pillar.get']('mongo_options:dbpath', '/opt/mongodata') %}
{% set logpath = salt['pillar.get']('mongo_options:logpath', '') %}
{% set replset = salt['pillar.get']('mongo_options:replset', '') %}
{% set auth = salt['pillar.get']('mongo_options:auth', '') %}


storage:
    dbPath: {{ dbpath }}
    journal:
        enabled: true

#processManagement:
#    fork: false


systemLog:
    quiet: true
    {% if logpath %}
    destination: file
    path: {{ logpath }}/mongod.log
    logAppend: true
    {% endif %}

net:
    http:
        enabled: true
        RESTInterfaceEnabled: true


{% if replset %}
replication:
    replSetName: {{ replset }}
{% endif %}


security:
    {% if replset %}keyFile: /etc/mongodb.key{% endif %}
    authorization: {% if auth %} enabled {% else %} disabled {% endif %}
