# Check pillar for special variable options
{% from "mongo/map.jinja" import mongo_options as mongo with context %}


storage:
    dbPath: {{ mongo.dbpath }}
    journal:
        enabled: true

systemLog:
    quiet: true
    {% if mongo.logpath %}
    destination: file
    path: {{ mongo.logpath }}/mongod.log
    logAppend: true
    {% endif %}

net:
    http:
        enabled: true
        RESTInterfaceEnabled: true
